<h2>Skapa ett nytt minne</h2>

<div ng-if="memory.errorMessage !== undefined && memory.errorMessage !== null" class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <p>{{memory.errorMessage}}</p>
</div>

<div ng-if="memory.errorList !== undefined && memory.errorList !== null" class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <p>Minnet gick inte att skapa av följande anledningar:</p>
  <ul>  
    <li ng-repeat="error in memory.errorList">
      {{error}}
    </li>
  </ul>
</div>
  

<form id="memory_create_form"> 

  <div class="form-group">
    <label for="title">Titel:</label><br />
    <input type="text" ng-model="title" id="title" />
  </div>
  
  <div class="form-group">
    <label for="memoryText">Berätta:</label><br />
    <textarea id="memoryText" form="memory_create_form" ng-model="memoryText">  
    </textarea>
  </div>
    
  <div class="form-group">
    <label for="eventDate">Datum:</label><br />
    <input type="date" ng-model="eventDate" id="eventDate" />
  </div>
  
  <div class="form-group">
    <label for="tags">Lägg till taggar(separera med kommatecken):</label><br />
    <textarea id="tags" form="memory_create_form" ng-model="tags">  
    </textarea>
  </div>
  
  <p><strong>Klicka på kartan på den plats där händelsen inträffade.</strong></p>

  <input type="button" class="btn btn-success" value="Lägg till" ng-click="memory.createMemory(title, memoryText, eventDate, tags)"/>

</form>
