<h2>Redigera minne</h2>

<div ng-if="memory.errorMessage !== undefined && memory.errorMessage !== null" class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <p>{{memory.errorMessage}}</p>
</div>

<div ng-if="memory.errorList !== undefined && memory.errorList !== null" class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <p>Minnet gick inte att redigera av följande anledningar:</p>
  <ul>  
    <li ng-repeat="error in memory.errorList">
      {{error}}
    </li>
  </ul>
</div>

<form id="memory_create_form"> 

  <div class="form-group">
    <input type="button" value="Ta bort detta minne" class="btn btn-danger" ng-click="memory.deleteMemory()"/>
  </div>
  
  <div class="form-group">
    <label for="title">Titel:</label><br />
    <input type="text" ng-model="memory.thisMemory.title" id="title" />
  </div>
    
  <div class="form-group">
    <label for="memoryText">Berätta:</label><br />
    <textarea id="memoryText" form="memory_create_form" ng-model="memory.thisMemory.memoryText"></textarea>
  </div>
  
  <div class="form-group">
    <label for="eventDate">Datum:</label><br />
    <input type="date" ng-model="eventDate" id="eventDate" />
  </div>
    
  <div class="form-group">
    <label for="tags">Lägg till taggar(separera med kommatecken):</label><br />
    <textarea id="tags" form="memory_create_form" ng-model="memory.thisMemoryTagsString">  </textarea>
  </div>
    
  <p><strong>Klicka på kartan på den plats där händelsen inträffade.</strong></p>
  
  <input type="button" value="Redigera" class="btn btn-success" ng-click="memory.editMemory(eventDate)"/>

</form>
