<h2>{{memory.thisMemory.title}}</h2>

<div ng-if="memory.errorMessage !== undefined && memory.errorMessage !== null" class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <p>{{memory.errorMessage}}</p>
</div>

<a ng-href="memory/edit/{{memory.thisMemory.id}}" ng-if="memory.loggedInUser.id == memory.thisMemory.creator_id">Redigera detta minne</a>

<p>Datum:{{memory.thisMemory.eventDate}}</p>

<p><a ng-href="/user/{{memory.thisMemory.creator_id}}">{{memory.thisMemory.creator_info.userName}}</a></p>

<p>
  {{memory.thisMemory.memoryText}}
</p>


<ul tag-list memory="{{memory.thisMemory.id}}">

</ul>
