<h2>Registrera dig</h2>

<div ng-if="user.errorMessage !== null && user.errorMessage !== undefined" class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  {{user.errorMessage}}
</div>

<div ng-if="user.errorList !== undefined && user.errorList !== null" class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <p>Användaren gick inte att registrera av följande anledningar:</p>
  <ul>  
    <li ng-repeat="error in user.errorList">
      {{error}}
    </li>
  </ul>
</div>

<form>
  <label for="userName">Användarnamn:</label>
  <input type="text" id="userName" ng-model="userName" />
  
  <label for="email">Email: </label>
  <input type="text" ng-model="email" id="email" />
  
  <label for="password">Nytt lösenord: </label>
  <input type="password" ng-model="password" id="password" />
  
  <label for="passwordConfirmation">Nytt lösenord igen: </label>
  <input type="password" ng-model="passwordConfirmation" id="passwordConfirmation" />
  
  <input type="button" value="Registrera" ng-click="user.createUser(userName, email, password, passwordConfirmation)"/>
  
</form>