<h2>Redigera profil</h2>

<div ng-if="user.errorMessage !== null && user.errorMessage !== undefined" class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  {{user.errorMessage}}
</div>

<div ng-if="user.errorList !== undefined && user.errorList !== null" class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <p>Användaren gick inte att redigera av följande anledningar:</p>
  <ul>  
    <li ng-repeat="error in user.errorList">
      {{error}}
    </li>
  </ul>
</div>

<form ng-if="user.thisUser !== undefined && user.thisUser.id === user.loggedInUser.id">
  
  <input type="button" value="Ta bort användare" class="btn btn-danger" ng-click="user.deleteUser()"/>
  
  <div class="form-group">
    <label for="userName">Användarnamn:</label><br />
    <input type="text" id="userName" ng-model="user.thisUser.userName" />
  </div>
   
  <div class="form-group">
    <label for="email">Email: </label><br />
    <input type="text" ng-model="user.thisUser.email" id="email" />
  </div>
    
  <div class="form-group">
    <label for="password">Nytt lösenord: </label><br />
    <input type="password" ng-model="password" id="password" />
  </div>
    
  <div class="form-group">
    <label for="passwordConfirmation">Nytt lösenord igen: </label><br />
    <input type="password" ng-model="passwordConfirmation" id="passwordConfirmation" />
  </div>
    
  <input type="button" value="Redigera" class="btn btn-success" ng-click="user.editUser(password, passwordConfirmation)"/>
  
</form>