<h1>Du är inloggad</h1>

<p>Du är inloggad på email-adress <%= @user.email%>.</p>

<% if @user.key %>
  <p><%= link_to "Se din nyckel", key_path(@user.key.id)%></p>

<% else %>
  <p class="notice">Din nyckel har blivit borttagen </p>
<% end %>

<dl>
  <dt>Din applikations webbsida</dt>
  <dd><%= @user.appSite%></dd>
  
  <dt>Beskrivning av applikation</dt>
  <dd><%= @user.appDescription%></dd>
</dl>
