<div ng-if="main.errorMessage !== undefined && main.errorMessage !== null" class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {{main.errorMessage}}
</div>
  
<div class="alert alert-success" ng-if="main.successMessage !== undefined && main.successMessage !== null">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <p>{{main.successMessage}}</p>
</div>


<div ng-if="!main.loggedIn">
  <h2>Logga in</h2>
  <form>
    <input type="text" name="userName" ng-model="userName" />
    <input type="password" name="password" ng-model="password" />

    <input type="button" value="Logga in" ng-click="main.login(userName, password)" /> 
  </form>

  <a ng-href="/user/create">Registrera dig</a>

</div>


<div ng-if="main.loggedIn">
  <a ng-href="/user/{{main.thisUser.id}}">Gå till min profil</a>
  <input type="button" value="Logga ut" ng-click="main.logout()" /> 

</div>
